.image {
    width: 100%;
    border-radius: .5rem;
    height: 300px;
    object-fit: cover;
}

.title {
    font-family: "New-Grotesk-Square" !important;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.addButton {
    border-radius: 2rem !important; 
    padding: .75rem 2rem !important;
    background-color: rgba(17, 17, 17, 1) !important
}

.addButton:hover {
    background-color: #333333 !important;
}

.addButton:disabled {
    background-color: #E0E0E0 !important;
    color: rgba(119, 119, 122, 1) !important;
}

.counterButton {
    border-radius: 9999px !important;
    border: 1px solid rgb(224, 222, 220) !important;
    width: 2rem;
    height: 2rem;
    min-width: 0px !important;
    padding: 0 !important;
    background-color: rgb(17, 17, 17) !important;
    transition-duration: .3s !important;
}

.counterButton svg {
    color: white;
}

.counterButton:hover {
    background-color: #333333 !important;
}