.paper{
    padding: 30px 20px;
    width: 30%;
    height: 50vh;
    margin: 111.6px auto;
    font-family:sans-serif
}

.form{
    margin-top: 40px;
    display: flex;
    height: 60%;
    flex-direction: column;
    padding: 15px;
}
.form input{
    width: 90%;
    margin: 50px auto;
    padding: 10px;
}
.form button{
    width: 90%;
    height: 15%;
    margin: 20px auto;
}

.links a{
    margin-top: 20px;
    padding: 20px;
}