.paper{
    padding: 30px 20px;
    width: 30%;
    height: 50vh;
    margin: 111.6px auto;
    font-family:sans-serif
}

.form{
    margin-top: 40px;
    display: flex;
    height: 90%;
    flex-direction: column;
    padding: 15px;
}
.form input{
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(143, 47, 47);
}
.form input:focus{
    outline: none;
}
.form button{
    width: 90%;
    height: 15%;
    margin: 20px auto;
}

.links a{
    margin-top: 20px;
    padding: 20px;
}
.form-container{
    border: 1px solid green;
}