.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
  
.container  svg {
    width: 10px;
}

.container button {
    background-color: #484949;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

   
}

.container 
input {
    height: 25px;
    width: 50px;
    text-align: center;
    border: 1px solid #242424;
    border-radius: 3px;
    
}

.container  button[disabled] {
    background-color: #474747;
    cursor: no-drop;
}

.container p{
  
   font-family: italic;
}