.container {
    display: inline-block;
    position: relative;
}

.container:nth-child(n+2) {
    margin-left: 1rem;
}

.optionsContainer {
    background-color: white;
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid rgba(17, 17, 17, 0.5);
    min-width: 18rem;
    margin-top: .8rem
}

.optionsWrapper {
    display: flex;
    align-items: center;
}

.optionsWrapper:nth-child(n+2) {
    margin-top: 1rem;
}