.container {
    display: flex;
    position: relative;
}

.container:nth-child(n+2) {
    margin-left: 1rem;
}

.optionsContainer {
    background-color: white;
    z-index: 9999;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    min-width: 18rem;
    margin-top: .8rem
}

.optionsWrapper {
    display: flex;
    align-items: center;
}

.optionsWrapper:nth-child(n+2) {
    margin-top: 1rem;
}

.buttonGroup button {
    border: none;
    transition: .2s ease !important;
}

.buttonGroup:hover button {
    border: none !important;
}