.bottomRow {
    border: none;
}

.bottomRow:nth-child(n+1) {
    border: none;
}

.row:nth-child(2n) {
    background-color: #f9f9f9;
}

.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader {
    content: " ";
    display: block;
    width: 20vmin;
    height: 20vmin;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #383e50;
    border-color: #383e50 transparent #383e50 transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}